<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Crud Alumno</title>
</head>

<body>
	<div class="container mt-5">
		<h2 class="text-center mb-4">Formulario de Alumno</h2>
		<form action="#" th:action="@{${accion}}" method="post" th:object="${alumno}">
			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nombre" placeholder="Ingresar su nombre" th:field="*{nombre}" />
				<div th:if="${#fields.hasErrors('nombre')}" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('nombre')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			
			<div class="mb-3">
				<label for="nota" class="form-label">Nota</label>
				<input type="number" class="form-control" id="nota" placeholder="Ingresar su Nota" th:field="*{nota}" step="0.01" min="0.00" max="20.00" />
				<div th:if="${#fields.hasErrors('nota')}" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('nota')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			
			<input type="hidden" th:field="*{idAlumno}" />
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<button type="button" class="btn btn-secondary ms-3" onclick="window.location.href='/alumno/listAlumno';">Cancelar</button>
			</div>
		</form>

		<h3 class="text-center mt-5 mb-4">Listado de Alumnos</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Nota</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alumno : ${alumnos}">
					<td th:text="${alumno.idAlumno}"></td>
					<td th:text="${alumno.nombre}"></td>
					<td th:text="${alumno.nota}"></td>
					<td>
						<a th:href="@{/alumno/findById/}+${alumno.idAlumno}" class="btn btn-warning btn-sm" onclick="return confirm('¿Estás seguro de que quieres modificar este alumno?');">Modificar</a>
					</td>
					<td>
						<a th:href="@{/alumno/delete/}+${alumno.idAlumno}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar este alumno?');">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybO5a4k6oW9aA6YyPpV2R2aFZOTcI6Ex3hXp0WQd5V7Fg3ISk" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
